{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="main">
	<div class="text-center">
		<h1>Jira Ticket Form</h1>
	</div>
	<div class="row">
		<div class="col-sm">
			<form>
				<! -- Title ––>
				<div class="mb-3">
					{{ wtf.form_field(ticketForm.title,class="form-control", id="issuetitle", placeholder="One sentence long summary of the issue", onchange="return FormValidation(issuetitle);") }}
				</div>

				<hr class="mb-4">

				<! -- Protocol, SRS, Label ––>
				<div class="row">
					<div class="col-md-4 mb-3">
						{{ wtf.form_field(ticketForm.protocol,class="form-control", id="sstp", placeholder="SSTP1234-0100", onchange="return FormValidation(sstp);") }}
					</div>
					<div class="col-md-4 mb-3">
						{{ wtf.form_field(ticketForm.srs,class="form-control", id="srs", placeholder="SRS number if known", onchange="return FormValidation(srs);") }}
					</div>
					<div class="col-sm-4 mb-3">
							{{ wtf.form_field(ticketForm.label,class="custom-select d-block w-100", id="label", onchange="return FormValidation(label);") }}

							{{ wtf.form_field(ticketForm.runNumber,class="custom-select d-block w-100", id="pass", onchange="return FormValidation(pass);") }}
					</div>
				</div>

				<hr class="mb-4">

				<! -- Results and Description ––>
				<div class="mb-3">
					<h2>Expected Result</h2>
					<textarea id="expectedresult" rows="3" cols="80" onchange="return FormValidation(expectedresult);" required></textarea>
				</div>
				<div class="mb-3">
					<h2>Actual Result</h2>
					<textarea id="actualresult" rows="3" cols="80" onchange="return FormValidation(actualresult);" required></textarea>
				</div>
				<div class="mb-3">
					<h2>Description</h2>
					<textarea id="description" rows="3" cols="80" onchange="return FormValidation(description);" required></textarea>
				</div>

				<hr class="mb-4">

				<! -- Environment ––>
				<h2>Environment</h2>
				<div class="row">
					<div class="col-md-4 mb-3">
						<h4>Pump Serial Number</h4>
						<input type="text" class="form-control" id="pumpserialnumber" placeholder="00-00000" onchange="return FormValidation(pumpserialnumber);" required>
					</div>
					<div class="col-md-4 mb-3">
						<h4>Library</h4>
						<input type="text" class="form-control" id="library" placeholder="library v0.000" onchange="return FormValidation(library);" required>
					</div>
					<div class="col-md-4 mb-3">
						<h4>Firmware Version</h4>
						<input type="text" class="form-control" id="firmwareversion" placeholder="1.0.0.111" onchange="return FormValidation(firmwareversion);" required>
					</div>
				</div>
				<div class="mb-3">
					<h4>Others</h4>
					<textarea id="otherenvironment" rows="2" cols="80"></textarea>
				</div>
				<hr class="mb-4">
				<h2>Project</h2>
				<select class="custom-select d-block w-100" id="project" value="-" onchange="return FormValidation(project);" required>
					<option value=""></option>
					<option value="SMPUM">SMPUM</option>
					<option value="SAN">SAN</option>
				</select>
				<hr class="mb-4">
				<input type="submit" class="btn btn-primary btn-lg btn-block">
			</form>
		</div>
	</div>
</div>
{% endblock %}
