{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="main">
	<div class="text-center">
		<h1>Jira Ticket Form</h1>
	</div>
	<div class="row">
		<div class="col-sm">
			<form action="/" method="POST">
				<! -- Title ––>
				<div class="mb-3">
					{{ ticketForm.hidden_tag() }}
					{{ wtf.form_field(ticketForm.title, id="issuetitle", placeholder="One sentence long summary of the issue", onchange="return FormValidation(issuetitle);") }}
				</div>

				<hr class="mb-4">

				<! -- Protocol, SRS, Label ––>
				<div class="row">
					<div class="col-md-4 mb-3">
						{{ wtf.form_field(ticketForm.protocol, id="protocol", placeholder="SSTP1234-0100", onchange="return FormValidation(protocol);") }}
					</div>
					<div class="col-md-4 mb-3">
						{{ wtf.form_field(ticketForm.srs, id="srs", placeholder="SRS number if known", onchange="return FormValidation(srs);") }}
					</div>
					<div class="col-sm-4 mb-3">
							{{ wtf.form_field(ticketForm.label,class="custom-select d-block w-100", id="label", onchange="return FormValidation(label);") }}

							{{ wtf.form_field(ticketForm.runNumber,class="custom-select d-block w-100", id="pass", onchange="return FormValidation(pass);") }}
					</div>
				</div>

				<hr class="mb-4">

				<! -- Results and Description ––>
				<div class="mb-3">
					{{ wtf.form_field(ticketForm.expectedResult, id="expectedresult", rows="3", cols="80", onchange="return FormValidation(expectedresult);") }}
				</div>
				<div class="mb-3">
					{{ wtf.form_field(ticketForm.actualResult, id="actualresult", rows="3", cols="80", onchange="return FormValidation(actualresult);") }}
				</div>
				<div class="mb-3">
					{{ wtf.form_field(ticketForm.description, id="description", rows="3", cols="80", onchange="return FormValidation(description);") }}
				</div>

				<hr class="mb-4">

				<! -- Environment ––>
				<h2>Environment</h2>
				<div class="row">
					<div class="col-md-4 mb-3">
						{{ wtf.form_field(ticketForm.pumpSerialNumber, id="pumpserialnumber", placeholder="00-12345", onchange="return FormValidation(pumpserialnumber);") }}
					</div>
					<div class="col-md-4 mb-3">
						{{ wtf.form_field(ticketForm.library, id="library", placeholder="library v0.000", onchange="return FormValidation(library);") }}
					</div>
					<div class="col-md-4 mb-3">
						{{ wtf.form_field(ticketForm.firmwareVersion, id="firmwareversion", placeholder="1.0.0.123", onchange="return FormValidation(firmwareversion);") }}
					</div>
				</div>
				<div class="mb-3">
					{{ wtf.form_field(ticketForm.others, id="others", rows="2", cols="80") }}
				</div>
				<hr class="mb-4">
				{{ wtf.form_field(ticketForm.project,class="custom-select d-block w-100", id="project", onchange="return FormValidation(project);") }}
				<hr class="mb-4">
				<button type="submit" name="button" class="btn btn-primary btn-lg btn-block">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
