{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="content">
  <h1>Login</h1>

  <div class="main">
    <form class="contact-forms" action="index.html" method="post">
      <div class="first-line">
        <div class="span8 main-row">
          <div class="input">
            {{ Loginform.hidden_tag() }}
            {{ wtf.form_field(Loginform.username) }}
          </div>
        </div>
      </div>

      <div class="first-line">
        <div class="span8 main-row">
          <div class="input">
            {{ wtf.form_field(Loginform.password) }}
          </div>
        </div>
      </div>

      <div class="footer">
        <button type="submit" value="submit" class="primary-btn">
        Log In
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
