{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="main">
  <form class="form-signin" method="POST" action="login">
    <h3 class="textcenter">Please sign in</h3>
    <div class="row">
      {{ Loginform.hidden_tag() }}
      {{ wtf.form_field(Loginform.email, placeholder="Email address") }}
      {{ wtf.form_field(Loginform.password, placeholder="Password") }}
      {{ wtf.form_field(Loginform.remember_me) }}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
{% endblock %}
